{% extends 'base.html' %}
{% load static %}

{% block content %}

        <section class="candidate-style-two pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/1.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Berlian Napitupulu</a>
                                </h3>
                                <ul>
                                    <li>
                                    Dutabesar
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>                           
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/2.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Sahat Sitorus</a>
                                </h3>
                                <ul>
                                    <li>
                                        Dutabesar
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/3.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html"> Sylvia</a>
                                </h3>
                                <ul>
                                    <li>
                                        Bos
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/4.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Dewi</a>
                                </h3>
                                <ul>
                                    <li>
                                        Apa ya wik ..
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/5.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Totok</a>
                                </h3>
                                <ul>
                                    <li>
                                        Dutabesar
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/6.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Gustanto</a>
                                </h3>
                                <ul>
                                    <li>
                                        Hefe
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/7.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Asianto</a>
                                </h3>
                                <ul>
                                    <li>
                                        Apa ya ...
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="candidate-card">
                            <div class="candidate-img">
                                <img src="{% static 'assets/img/candidate/8.jpg' %}" alt="candidate image">
                            </div>
                            <div class="candidate-text">
                                <h3>
                                    <a href="candidate-details.html">Firdaus</a>
                                </h3>
                                <ul>
                                    <li>
                                        Host kemaren heee
                                    </li>
                                </ul>
                            </div>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>                           
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}
